
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  .card {
    background-color: lightgreen;
  }
}
