@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
}

.title {
  display: flex;
  position: relative;
  left: 400px;
  margin-top: 100px;
}

.textos {
  position: relative;
  left: 600px;
  color: rgb(255, 51, 15);
}

.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.card{
  width: 320px;
  background-color: #37ff05;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
  position: relative;
  left: 60px;  
  margin-top: 10px;
}
.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}


@media (min-width: 340px) and (max-width: 990px) {
    .card {
      display: flex;
    }
}

@media print {
 .title {
  color: #37ff05;
 }
 .textos{
  color: black;
  font-size: 40px;
 }
}
