



.principal {
  width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid rgb(0, 0, 3);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    position: relative;
    position: relative;
    margin: 0 auto;
    top: 90px;
}


@media (min-width: 1205px) and (max-width: 1535px) {

body {
    background-color: blue;

}

.img  img {
    margin-top: 200px;
    max-width: 300px;
    position: absolute;
    right: 300px;
}

}

@media (min-width: 509px) and (max-width: 1203px) {

body {
    background-color: rgb(255, 217, 0);
}
.img  img {
    margin-top: 10px;
    max-width: 100px;
    position: absolute;
    right: 600px;
}

}

@media (min-width: 51px) and (max-width: 509px) {

body {
    background-color: rgb(255, 0, 0);
}
.img  img {
    margin-top: 500px;
    max-width: 50px;
    position: absolute;
    right: 10px;
}

}
